#########################################################
#
#   IDEs .gitignore
#
#########################################################

# Visual studio code
.vscode
.project

#Eclipse
*.prefs

#########################################################
#
#   Server scripts .gitignore
#
#########################################################

#RSPP mail
*.yaml


#########################################################
#
#   DClient .gitignore
#
#########################################################

# Ignore config files
*.properties

# Java BUILD files
desktop-client/bin
desktop-client/target
*.classpath
*.jar

# Ignore public key generated during debug
*_rsa
*.pub

# Ignore debug files
*.log
*.log.lck
desktop-client/.project
