#########################################################
#
#   IDEs .gitignore
#
#########################################################

# Visual studio code
.vscode

#########################################################
#
#   Server scripts .gitignore
#
#########################################################

#RSPP mail
server-Side-Scripts/conf.yaml


#########################################################
#
#   DClient .gitignore
#
#########################################################

# Ignore config files
*.properties
*.prefs

# Java BUILD files
desktop-client/bin
desktop-client/target
*.classpath

# Ignore public key generated during debug
*.pub

# Ignore debug files
*.log
*.log.lck
