package dclient;

import org.jasypt.encryption.pbe.StandardPBEStringEncryptor;
import org.jasypt.iv.RandomIvGenerator;

public class Key {
	private final String ENV_VAR_NAME = "";

	StandardPBEStringEncryptor enc;

	public Key(String password) {
		enc = new StandardPBEStringEncryptor();
		enc.setPassword(mergeHashPass(password));
		enc.setAlgorithm("");
		enc.setIvGenerator(new RandomIvGenerator());
	}

	public StandardPBEStringEncryptor getEnc() {
		return enc;
	}

	private String mergeHashPass(String password) {
		return null;
	}

	private String getEnvPass() {
		return System.getenv(ENV_VAR_NAME);
	}
}